@import 'nib/normalize'
normalize-css()

.body
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif

.text-output
  border: 1px solid
  width: 130px
  height: 130px
  padding: 1px
  font-size: 64px
  font-weight: 900
  line-height: 1em
