@import 'nib/normalize'
normalize-css()

.body
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif

.text-output
  border: 1px solid
  padding: 1px
  font-weight: 900
  line-height: 1em
  overflow: hidden

  .line
    display: inline
