@import 'nib/normalize'
normalize-css()

.body
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif

.text-output
  border: 1px solid
  padding: 1px
  font-weight: 900
  text-align: center
  display: inline-block
  .line
    line-height: 1em
    .text
      display: inline-block

